
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2A1D1E, #8C6660);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #F0DFC8;
}
div {
    background: rgba(61, 36, 32, 0.7);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}
h1, h2 {
    color: #FFB399;
    text-align: center;
}


#taskInput {
    width: calc(100% - 100px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(219, 190, 161, 0.3);
    background-color: rgba(219, 190, 161, 0.2);
    color: #F0DFC8;
    font-size: 16px;
}
#taskInput::placeholder {
    color: rgba(240, 223, 200, 0.7);
    font-style: italic;
}
#taskInput:focus {
    outline: none;
    border-color: #DB7F67;
    box-shadow: 0 0 8px rgba(211, 79, 115, 0.5);
}

button {
   
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #FF6B8B;
    color: #2A1D1E;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}
button:hover {
    background-color: #FFB399;
}

ul {
    padding: 0;
}

li {
    background-color: rgba(219, 190, 161, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: rgba(219, 190, 161, 0.2);
}
li input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

b {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}
#completed, #incomplete {
    font-weight: bold;
    color: #FFB399;
}
